@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
nav{
    position: fixed;
    background: red;
    z-index: 100;
    min-height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
nav a{
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background 1s ease;
    
}
nav a:hover{
    background: rgb(163, 1, 1);
}
.container{
    width: 800px;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-indent: 1.25px;
    text-align: justify;
}
.landslade{
    height: 50px; 
}
.cat{
    
    min-height: 10vh;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.cat *{
    text-indent: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.cat p{
    line-height: 1.5;
    margin-left: 6px;
    margin-right: 8px;
    padding: 10px;
}
.cat img{
    margin: 0 auto;
    display: flex;
    
}

article{
    width: 800px;
    justify-content: center;

}

h2{
    color: rgb(113, 255, 113);
    text-align: center;
    padding: 10px;
}

article header p{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    padding: 10px;
    
}
article p{
    text-indent: 1.25px;
    text-align: justify;
    line-height: 1.5;
    margin-left: 6px;
    margin-right: 8px;
}
article figure{
    width: 400px;
    border: 3px solid rgb(99, 0, 0);
    padding: 5px;
}
article figure img{

    height: 250px;
    width: 100%;
}




