#template {
	display: block;
	padding: 30px;
    min-width: 90vw;
}
#template * {
	border: 1px solid purple;
}
#template .fullwrap {
	padding: 20px;
	box-shadow: 0px 0px 20px 5px purple;
}
#template header {
	height: 100px;
}
#template main,
.sidebar {
	height: 60vh;
}
#template main {
	float: left;
	width: 63%;
}
#template .sidebar {
	float: right;
	width: 35%;
}
#template .wrap {
	padding: 20px;
	margin-top: 40px;
}
#template footer {
	margin-top: 40px;
	height: 100px;
}
