
#cossacs .wrap {
    
    width: 400px;
    margin: 40px auto;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 10px;
}

#cossacs h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

#cossacs img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 0 0 10px #454545;
}

#cossacs p {
    font-size: 13px;
    line-height: 150%;
    margin: 5px 0;
    padding: 5px;
    color: #fff;
}

#cossacs .info {
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}

#cossacs .side {
    font-weight: bold;
    width: 180px;
    display: inline-block;
}

#cossacs p:nth-child(even) {
    border-radius: 10px;
    color: #000;
    background-color: gold;
}
