#lemon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#lemon .block {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 400px;
    height: 200px;
    border: 3px solid gold;
    border-radius: 4px;
    margin: 30px;
    padding: 15px;
    border-radius: 20px;
    
}
#lemon .lemon {
    width: 180px;
    height: 180px;
    margin: 10;
    background: url(https://cdn4.iconfinder.com/data/icons/Limon_iContainer/512/Grapefruit.png);
    background-size: contain;
    background-position: 50%;
    border-radius: 5xp;
    float: left;
}

#lemon .about h3 {
    text-align: center;
    padding: 0;
}
#lemon .about p {
    text-align: left;
    font-size: 12xp;
    line-height: 120%;
    margin: 20px 0;
}
