#task6 h1 {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-transform: uppercase;
	padding: 10px;
}

#task6 h1::before,
h1::after {
	content: "";
	min-width: 30vw;
	height: 3px;
	background: aqua;
	margin: 0 10px;
}
