#text {
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 70vw;
    margin: 0 auto;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 30px;
    margin-top: 20px;
}
#text>div:nth-child(1){
    background: none;
}

